---
welcome_text: HERZLICH WILLKOMMEN
title: Beckenbodengesundheit Friedrichshagen
layout: default
---

{% for row in site.rows %}
  {% if row.big-foto %}

  {% include full-width-image.html row=row %}

  {% else %}

    {% if row.anchor %}
      <div class="anchor" id="{{ row.anchor.link }}"></div>
    {% endif %}

    <div {% if row.background-colored %}class="background-dark-crayola"{% endif %}> 
      <div class="container">
        <div class="row py-5">
          <div class="col order-lg-1 order-sm-2">
            {{ row.content }}
          </div>
          {% if row.image %}
            <div class="{{ row.image.width }} col-sm-12 py-lg-0 px-md-0 px-5 pb-5 order-lg-2 order-sm-1">
              <img src="{{ row.image.file }}" class="img-fluid ps-lg-5 ps-md-4 pb-lg-4">
            </div>
          {% endif %}
        </div>
      </div>
    </div>

  {% endif %}
{% endfor %}

{% comment %} Modal contents at the bottom to be sure there positioned right {% endcomment %}
{% include modals.html modals=site.indikationen %}
{% include modals.html modals=site.behandlungen preise=true %}
