{% capture link %}{% include link.html text="Deutschen Verband für Physiotherapie (ZVK)" href="https://lvno.physio-deutschland.de/laenderverbund-nordost/fortbildungen.html" %}{% endcapture %}
{% capture link-ag %}{% include link.html text="AG GGUP" href="https://www.ag-ggup.de/" %}{% endcapture %}
{% capture link-felden %}{% include link.html text="Feldenkrais-Verband Deutschland e.V." href="https://www.feldenkrais.de/" %}{% endcapture %}


{% capture text %}

##### Berufserfahrungen als Physiotherapeutin
- 1985-2002 Physiotherapeutin in einer Praxis und in einem Gesundheitszentrum
- 1998-2002 Leitung von Gruppenkursen für Frauen mit Inkontinenzbeschwerden
- 1995 Teilnahme am Forschungsprojekt „Frauen mit Inkontinenzbeschwerden“
- 1996-1998 Leitung von Patientengruppen mit psychosomatischen Beschwerden
- 2000-2002 Sportleiterin „Kondition förderndes Wandern“
- 2003-2007 Physiotherapeutin in einer Praxis
- 2013-2021 Physiotherapeutin in einer auf Beckenboden spezialisierten Praxis, Berlin
- 2017 Leitung von Präventionskursen Beckenbodenschule® in Berlin & Schöneiche
- seit 2020 Physiotherapeutin in einem Pflegeheim, Teilzeit

##### Wichtigste  Weiterbildungen im Beckenbodenbereich
- 1990 Gruppentherapie für Frauen mit Harninkontinenz, Marion Borghuis
- 1995 Peri Partum Beckenschmerzen, Nederlands Paramedisch Instituut (NPI)
- 1997 Funktion und Funktionsstörungen des Beckenbodens, NPI
- 2000 Zusatzqualifikation Geburtsvorbereitung & Rückbildung, NPI
- 1992-2002 Teilnahme an mehrere Kongressen zum Thema Beckenboden & Sexualität
- 2014-2018 Weiterbildung zur PhysioPelvica® Therapeutin
- 2018 Abschlussqualifikation PhysioPelvica® Therapeutin, eingetragen in der Therapeutenliste der {{ link-ag }}
- 2016 Präventionskurs Beckenbodenschule®
- 2022 Pessar Workshop für Physiotherapeuten bei Almut Köwing
- 2023 Physiotherapie bei Kindern mit anorektalen und urogenitalen Funktionsstörungen bei der AGGGUP

##### Wichtigste Physiotherapeutische Weiterbildungen
- Fußreflexzonen-Massage H. Marquardt
- Manuelle Therapie Maitland, Manuelle Therapie Marsman
- Krankengymnastik bei Rückenbeschwerden, NPI
- Testleiterin "Sportlich Wandern"
- Psychosomatik und Entspannung, NPI

##### Andere Weiterbildungen und Arbeitserfahrungen
- 1990-1995 Heilpraktiker-Ausbildung in TCM/ Akupunktur
- 2008-2012 Ausbildung zur Feldenkraislehrerin®
- 2012 Feldenkraislehrerin®, eingetragen beim {{ link-felden }}

##### Berufserfahrungen als Feldenkraislehrerin
- seit 2011 selbständige Feldenkraislehrerin® in Berlin & Fredersdorf
- seit 2018 Referentin bei Feldenkrais® Workshops für Physiotherapeuten im {{ link }}

{% endcapture %}


<div class="modal fade" id="lebenslauf" tabindex="-1" aria-labelledby="Lebenslauf" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lebenslauf</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            
<div class="row"> <div class="col-2">1962</div><div class="col">geboren in den Niederlanden, Mutter von 2 Kindern</div></div>
<div class="row"><div class="col-2">1984</div><div class="col">Staatl. anerk. Physiotherapeutin, Academie Fysiotherapie, Utrecht, NL </div></div>
<div class="row"><div class="col-2">2002</div><div class="col">Umzug nach Deutschland, Anerkennung meiner Berufsqualifikation in Deutschland</div></div>
<div class="row pb-3"><div class="col-2">2021</div><div class="col">Zusatzqualifikation: Heilpraktikerin für Physiotherapie
</div></div>

{{ text | markdownify }}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
