<div class="modal fade" id="lebenslauf" tabindex="-1" aria-labelledby="Lebenslauf" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lebenslauf</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            
<div class="row"> <div class="col-lg-2 col-md-3 col-4">1962</div><div class="col">geboren in den Niederlande, Mutter von 2 Kinder </div></div>
<div class="row"><div class="col-lg-2 col-md-3 col-4">1984</div><div class="col">Staatl. anerk. Physiotherapeutin, Academie Fysiotherapie, Utrecht, NL </div></div>
<div class="row"><div class="col-lg-2 col-md-3 col-4">2002</div><div class="col">Umzug nach Deutschland</div></div>
<div class="row"><div class="col-lg-2 col-md-3 col-4">2002</div><div class="col">Urkunde über die Erlaubnis zur Physiotherapeutin DE</div></div>
<div class="row"><div class="col-lg-2 col-md-3 col-4">2021</div><div class="col">Zusatzqualifikation zur Heilpraktiker beschränkt auf dem Gebiet der Physiotherapie</div></div>

<h5 class="pt-3">Berufserfahrungen als Physiotherapeutin</h5>
<div class="row"><div class="col-lg-2 col-md-3 col-4">1985 - 2002</div><div class="col">     Physiotherapiepraxis und ab 1990 in einem Gesundheitszentren </div></div>
<div class="row"><div class="col-lg-2 col-md-3 col-4">1994 - 2002</div><div class="col">     Leitung von Gruppenkursen für Frauen mit Inkontinenzbeschwerden</div></div>
<div class="row"><div class="col-lg-2 col-md-3 col-4">1995       </div><div class="col">     Teilnahme an PROVIN, Forschungsprojekt zu den Effekten von Übungstherapie bei Frauen mit Inkontinenzbeschwerden.</div></div>
<div class="row"><div class="col-lg-2 col-md-3 col-4">2002       </div><div class="col">     Umzug nach Deutschland</div></div>
<div class="row"><div class="col-lg-2 col-md-3 col-4">2003 - 2007</div><div class="col">     Physiotherapiepraxis, Fredersdorf</div></div>
<div class="row"><div class="col-lg-2 col-md-3 col-4">2013 - 2021</div><div class="col">     spezialisierte Beckenboden Praxis, Berlin</div></div>
<div class="row"><div class="col-lg-2 col-md-3 col-4">ab 2020    </div><div class="col">     Physiotherapeutin in einem Pflegeheim, Teilzeit</div></div>

<h5 class="pt-3">Wichtigste  Weiterbildungen im Beckenbodenbereich</h5>
<div class="row"><div class="col-lg-2 col-md-3 col-4">1990          </div><div class="col">Gruppentherapie für Frauen mit Harninkontinenz, Marion Borghuis</div></div>
<div class="row"><div class="col-lg-2 col-md-3 col-4">1995          </div><div class="col">Peri Partum Beckenschmerzen, Nederlands Paramedisch Instituut NPI</div></div>
<div class="row"><div class="col-lg-2 col-md-3 col-4">1997          </div><div class="col">Funktion und Funktionsstörungen des Beckenbodens beim NPI</div></div>
<div class="row"><div class="col-lg-2 col-md-3 col-4">2000          </div><div class="col">YVLO Schwangerschafts-Ausbildung </div></div>
<div class="row"><div class="col-lg-2 col-md-3 col-4">1992 - 2002   </div><div class="col">Mehrere Kongresse und Weiterbildungen auf dem Gebiet des        Beckenbodens & Sexualität</div></div>
<div class="row"><div class="col-lg-2 col-md-3 col-4">2002          </div><div class="col">Umzug nach Deutschland</div></div>
<div class="row"><div class="col-lg-2 col-md-3 col-4">2014 - 2018   </div><div class="col">Weiterbildung PhysioPelvica® Therapeutin</div></div>
<div class="row"><div class="col-lg-2 col-md-3 col-4">2018          </div><div class="col">Abschlussqualifikation PhysioPelvica® Therapeutin, eingetragen in der Therapeutenliste der AG-GGUP www.ag-ggup.de</div></div>
<div class="row"><div class="col-lg-2 col-md-3 col-4">2016          </div><div class="col">Präventionskurs Beckenbodenschule®</div></div>

<h5 class="pt-3">Wichtigste Physiotherapeutische Weiterbildungen</h5>
<ul>
  <li>Fußreflexzonen-Massage H. Marquardt</li>
  <li>Manuelle Therapie Maitland, Manuelle Therapie Marsman</li>
  <li>Krankengymnastik bei Rückenbeschwerden</li>
  <li>Testleiter "Sportlich Wandern"</li>
  <li>Psychosomatik und Entspannung</li>
</ul>

<h5 class="pt-3">Andere Weiterbildungen und Arbeitserfahrungen</h5>
<div class="row"><div class="col-lg-2 col-md-3 col-4">1990 - 1995   </div><div class="col">Heilpraktiker-Ausbildung zur Traditionellen Chinesischen Heilkunde/ Akupunktur, Nederlands College voor Natuurgeneeskunde</div></div>
<div class="row"><div class="col-lg-2 col-md-3 col-4">2008 - 2012   </div><div class="col">Ausbildung zur Feldenkraislehrerin®</div></div>
<div class="row"><div class="col-lg-2 col-md-3 col-4">2012          </div><div class="col">Abschluss der Ausbildung zur Feldenkraislehrerin®, eingetragen beim       Berufsverband </div></div>

<h5 class="pt-3">Berufserfahrungen als Feldenkraislehrerin</h5>
<div class="row">
<div class="row"><div class="col-lg-2 col-md-3 col-4">ab 2011   </div><div class="col">selbständige Feldenkraislehrerin® in Friedrichshagen, Fredersdorf & Berlin  </div></div>
<div class="row pb-3"><div class="col-lg-2 col-md-3 col-4">ab 2018   </div><div class="col">Referentin Feldenkrais® Workshops für Physiotherapeuten beim 
  <a class="kontakt-link" href="https://lvno.physio-deutschland.de/laenderverbund-nordost/fortbildungen.html">Berufsverband Physio-Deutschland</a></div></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
