{% capture text %}

##### Berufserfahrungen als Physiotherapeutin
- von 1985-2002 Physiotherapeutin in Praxis und Gesundheitszentren  
- von 1998-2002 Leitung von Gruppenkursen für Frauen mit Inkontinenzbeschwerden
- 1995 Teilnahme Forschungsprojekt bei Frauen mit Inkontinenzbeschwerden Provin
- von 2003-2007 Physiotherapeutin in Praxis
- von 2013-2021 Physiotherapeutin in spezialisierte Beckenboden Praxis Berlin
- ab 2020 Physiotherapeutin in einem Pflegeheim, Teilzeit

##### Wichtigste  Weiterbildungen im Beckenbodenbereich
- 1990 Gruppentherapie für Frauen mit Harninkontinenz, Marion Borghuis
- 1995 Peri Partum Beckenschmerzen, Nederlands Paramedisch Instituut NPI
- 1997 Funktion und Funktionsstörungen des Beckenbodens beim NPI
- 2000 Schwangerschafts-Ausbildung 
- 1992-2002 Mehrere Kongresse auf dem Gebiet des Beckenbodens & Sexualität
- 2014-2018 Weiterbildung PhysioPelvica® Therapeutin
- 2018  Abschlussqualifikation PhysioPelvica® Therapeutin, eingetragen in der Therapeutenliste der AG-GGUP www.ag-ggup.de
- 2016  Präventionskurs Beckenbodenschule®

##### Wichtigste Physiotherapeutische Weiterbildungen
- Fußreflexzonen-Massage H. Marquardt
- Manuelle Therapie Maitland, Manuelle Therapie Marsman
- Krankengymnastik bei Rückenbeschwerden beim NPI
- Testleiter "Sportlich Wandern"
- Psychosomatik und Entspannung beim NPI

##### Andere Weiterbildungen und Arbeitserfahrungen
- 1990-1995 Heilpraktiker-Ausbildung in TCM/ Akupunktur
- 2008-2012 Ausbildung zur Feldenkraislehrerin®
- 2012 Feldenkraislehrerin®, eingetragen beim Berufsverband

##### Berufserfahrungen als Feldenkraislehrerin
- ab 2011 selbständige Feldenkraislehrerin® in Friedrichshagen, Fredersdorf & Berlin  
- ab 2018 Referentin Feldenkrais® Workshops für Physiotherapeuten beim Berufsverband Physio-Deutschland Link:https://lvno.physio-deutschland.de/laenderverbund-nordost/fortbildungen.html

{% endcapture %}


<div class="modal fade" id="lebenslauf" tabindex="-1" aria-labelledby="Lebenslauf" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lebenslauf</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            
<div class="row"> <div class="col-2">1962</div><div class="col">geboren in den Niederlande, Mutter von 2 Kinder </div></div>
<div class="row"><div class="col-2">1984</div><div class="col">Staatl. anerk. Physiotherapeutin, Academie Fysiotherapie, Utrecht, NL </div></div>
<div class="row"><div class="col-2">2002</div><div class="col">Umzug nach Deutschland, Urkunde über die Erlaubnis zur Physiotherapeutin in Deutschland</div></div>
<div class="row pb-3"><div class="col-2">2021</div><div class="col">Zusatzqualifikation zur Heilpraktiker beschränkt auf dem Gebiet der Physiotherapie</div></div>

{{ text | markdownify }}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
