<div class="row justify-content-center pt-2 pb-3">
  <div class="col-auto">
    <h4>Preise</h4>
    <table class="table">
      <tbody>
        <tr>
          <td class="border-end">Erstkonsult nicht Beckenbodenbeschwerden</td>
          <td class="border-end">60 min.</td>
          <td>70€</td>
        </tr>
        <tr>
          <td class="border-end border-bottom-0">Einzelsitzung</td>
          <td class="border-end border-bottom-0">40/45 min.</td>
          <td class="border-bottom-0">45€/50€</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
