h1, h2, h3,
h4, h5, h6,
p {
    @extend %text !optional;
}



html {
  scroll-behavior: smooth;
}

// colors

.current {
  color: green;
}

.color-foreground {
  color: $color-foreground;
}

.color-dark-foreground {
  color: $color-dark-foreground;
}

.color-white {
  color: $white;
}

.background-white {
  background-color: $white;
}

.background-fade-white {
  background-image: linear-gradient($white, transparent);
}

.background-strong-colored {
  background-color: $color-foreground;
}

.background-dark-colored %text {
  color: white;
}

.background-dark-colored {
  background-color: $color-dark-foreground;
}

.background-colored {
  background-color: $color-background;
}

// navbar

.navbar a {
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  border-bottom: 1px solid transparent;
}

.navbar a.nav-link:hover {
  border-color: $color-background;
}

// full width background image

.background-image {
  overflow: hidden;
  max-height: 300px;
  position: relative;
  text-align: center;
}

@include media-breakpoint-up(lg) {
  .background-image {
    max-height: 700px;
  }
}

.background-image .full-height {
  max-height: inherit;
}

.background-image .blur {
  z-index: -1;

  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  width: 100%;
  color: $white;
  position: absolute;
  // top: 50%;
}

.background-image p, .background-image h1 {
  color: $color-dark-foreground;
  position: absolute;
  top: 20%;
  right: 30%;
}

// card links

a.card {
  text-decoration: inherit;
  color: inherit;
  transition: 0.3s;
  cursor: pointer;
}

a.card:hover {
  background-color: darken($color-background, 50%);
}

a.card * {
  text-decoration: inherit;
  color: inherit;
}

// footer

.footer a {
  text-decoration: none;
  color: $black;
}

.footer a:hover {
  text-decoration: underline;
  color: $color-foreground;
}

// anchor offset

a.anchor {
    display: block;
    position: relative;
    // TODO recalculate for all device sizes
    top: -80px;
    visibility: hidden;
}

a.high-anchor {
    display: block;
    position: relative;
    // TODO recalculate for all device sizes
    top: -150px;
    visibility: hidden;
}

// icon

.icon-center {
  vertical-align: middle;
  display: inline-block;
}

.kontakt-link {
  text-decoration: underline;
  color: $color-dark-foreground;
  transition: all 0.25s ease-in-out;
}

.background-dark-colored .kontakt-link {
  color: white;
}

.kontakt-link:hover {
  color: black;
}
