<!doctype html>
<html lang="de">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Beckenbodengesundheit Friedrichshagen - Privatpraxis, Carine Schippers</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% seo %}
  </head>
  <body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="200" class="scrollspy-example" tabindex="0">
    {% include navigation.html %}

    {{ content }}

    {% include footer.html %}

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
      integrity="sha256-c4Ll6eSIg6Eothk8pCWAF8aE923EvtU11pqjBy+NjNM=" 
      crossorigin="anonymous"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>

