<!doctype html>
<html lang="de">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% seo %}
  </head>
  <body>
    <div class="alert alert-danger" role="alert">
      Achtung, diese Website befindet sich noch in Bearbeitung und ist nicht für die Öffentlichkeit bestimmt. Wenn Sie nicht eingeladen wurden, verlassen Sie bitte diese Website.
    </div>
    {% include navigation.html %}
    <div class="container">
      {{ content }}
    </div>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
      integrity="sha256-c4Ll6eSIg6Eothk8pCWAF8aE923EvtU11pqjBy+NjNM=" 
      crossorigin="anonymous"></script>
  </body>
</html>

