---
layout: default
no_container: true
---

<div class="container">
  <div class="row py-5">
    <div class="col align-self-center">
      {{ content }}
    </div>
  </div>
</div>

<div class="row justify-content-center py-2"><hr></div>

<div class="container">
  <div class="row py-5">
    <div class="col align-self-center">
      {% capture der_beckenboden %}{% include der_beckenboden.md %}{% endcapture %}
      {{ der_beckenboden | markdownify }}
    </div>
    <div class="col">
      <img src="/assets/images/carine-264.jpg" class="img-fluid px-5 pb-4">
    </div>
  </div>
</div>

<div class="row justify-content-center py-2"><hr></div>

<div class="container">
  <div class="row py-5">
    <div class="col">
      <div class="row justify-content-center pb-3">
        <div class="col-auto">
          <h3> Wann könnte Beckenbodentherapie sinnvoll für Sie sein?</h3>
        </div>
      </div>
      {% include blocks.html blocks=site.home_blocks %}
    </div>
  </div>
</div>

